.add-button {
  width: 150px;
  height: 50px;
  border: none;
  background-color: #000000;
  outline: 1px white solid;
  margin: 35px 0;
  border-radius: 2px;
}

.add-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 690px) {
  .add-button {
    width: 282px;
    margin-left: 19px;
    margin-right: 19px;
  }
}

