.popup__info {
  width: 84%;
  height: 40px;
  font-size: 14px;
  border-bottom: 1px solid #000000;
  border-width: 0px 0px 1px;
  border-image: initial;
  margin: 0 auto 29.74px;
  /* opacity: .2; */
}

.popup__info:last-child {
  margin-bottom: 0;
}
