.popup__input {
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  border: none;
  flex-direction: column;
}

@media screen and (max-width: 530px) {
  .popup__input {
    margin-top: 75px;
    padding: 0;
  }
}
