.profile__box {
  display: flex;
  flex-direction: column;
  margin-right: 17px;
  /* align-items: center;
  justify-content: center; */
}


@media screen and (max-width: 690px) {
  .profile__box {
    margin-right: 6px;
  }
}
