.popup__button {
  border: none;
  /* max-width: 358px; */
  /* min-width: 358px; */
  width: 358px;
  min-height: 50.15px;
  border-radius: 2px;
  background-color: #000000;
  margin: 48px auto 36.51px;
}

.popup__button:hover {
  opacity: .8;
  cursor: pointer;
}


@media screen and (max-width: 530px) {
  .popup__button {
    width: 238px;
  }
}
