.header {
  max-width: 882px;
}

.header::after {
  content: '';
  width: 100%;
  margin: 0 auto;
  opacity: .7;
  display: block;
  height: 1px;
  background-color: #545454;
}

@media screen and (max-width: 530px) {
  .header::after {
    margin-left: 0;
    margin-right: 0;
  }
}
