.popup__heading {
  /* font-family: Inter; */
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-top: 34px;
  margin: 0 64px 0 36px;
}

@media screen and (max-width: 530px) {
  .popup__heading {
    font-size: 18px;
    margin: 25px 22px 0px;
  }
}
