.popup__close-btn {
  position: absolute;
  top: -40.7px;
  right: -40.7px;
  width: 40.7px;
  height: 40.7px;
}

.popup__close-btn:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 530px) {
  .popup__close-btn {
    width: 34px;
    height: 34px;
    top: -39.6px;
    right: -4px;
  }
}
