.profile__avatar {
  border-radius: 120px;
  max-width: 120px;
  max-height: 120px;
  min-height: 120px;
  margin-left: 0;
  margin-right: 30px;
}

@media screen and (max-width: 530px) {
  .profile__avatar {
    margin-right: 0px;
  }
}
