.element__act {
  /* width: 100%; */
  /* min-height: 79px; */
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
}
