.element__text {
  /* font-family: Inter; */
  font-style: normal;
  font-size: 24px;
  line-height: 100%;
  vertical-align: Top;
  color: #000000;
  margin-top: 25px;
  margin-left: 21px;
  margin-bottom: 31px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100% - 29.74px);
}
